bin
/cache/
/log/
/resultadosTest/
/test/
/config.properties
/sonar-project.properties
/.scannerwork/
/export/
.vscode
/build/
/build.fxbuild
/configuration/
/target/
/.classpath
/.project
/.settings/
/configuration.json
/versions/
